<section class="profile-page">
  <h1>Профиль</h1>

  <p *ngIf="isLoading()" class="state-text">Загрузка профиля...</p>
  <p *ngIf="error()" class="state-text error">{{ error() }}</p>

  <article *ngIf="profile() as user" class="section-card">
    <div class="info-row">
      <div>
        <p class="label">Username</p>
        <p class="value">{{ user.username }}</p>
      </div>
    </div>

    <div class="info-row">
      <div>
        <p class="label">Электронная почта</p>
        <p class="value">{{ user.email }}</p>
      </div>
    </div>
  </article>

  <article *ngIf="profile()?.specializations?.length" class="section-card specializations">
    <h2>Specializations</h2>
    <div class="spec-item" *ngFor="let spec of profile()!.specializations">
      <p class="value">{{ spec.spec_name }} ({{ spec.level }})</p>
    </div>
  </article>

  <article *ngIf="profile() && !profile()?.specializations?.length" class="section-card specializations">
    <h2>Specializations</h2>
    <p class="state-text">Пока специализации не добавлены.</p>
  </article>
</section>
